button{
    background-color: blue;
    border-radius: 100%;
}

.timeref {
    border-top: dotted;
}

.lines {
    border: 10px black solid;
}

.backgroundcurrent {
    background-color:yellowgreen;
}

.backgroundfuture {
    background-color: red;
}

.backgroundpast {
    background-color: gray;
}

button:hover {
    box-shadow: gray;
    background-color: green;
}

textarea:hover{
    
        box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
        outline: 0;
        cursor: pointer;
        border: black solid;
      
}