button{
    background-color: blue;
    border-radius: 100%;
}

.timeref {
    border-top: dotted;
}

.lines {
    border: 10px black solid;
}

.backgroundcurrent {
    background-color:yellowgreen;
}

.backgroundfuture {
    background-color: red;
}

.backgroundpast {
    background-color: gray;
}